.titulos{
    color: rgb(29, 236, 19);
}

.navCategorias{
    font-size: 25px;
    color:aliceblue;
}

.navComunidad{
    font-size: 25px;
    color:white;
}

body{background-color: black;}

ul{
    list-style:none;
}

.fondoBoton{
    background-color: rgb(29, 236, 19);
}

.wpp{
color: inherit;
margin-left: .80rem;
}
.contenedor-wpp{
border-radius: 45%;
width: 4rem;
height: 4rem;
font-size: 2.5rem;
margin-top: 1.5rem;
margin-left: 1rem;
background-color: #25d366;
}
.icon-wpp{
color: white;
}

.icons{
display: inline-flex;
margin-left: 2rem;
}
.email{
font-size: 2.5rem;
color: white;
}