{% extends 'base.html' %}
{%load static%}
{%block contenido%}
    <header>
        <h1 class="titulos">
            Categorias
        </h1> 
    </header>
    <nav>
        <ul>
            <li class="navCategorias">
                <i class="fa-solid fa-explosion">
                Accion
                </i>
            </li>
            <li class="navCategorias">
                <i class="fa-solid fa-mountain-sun">
                Aventura
                </i>
            </li>
            <li class="navCategorias">
                <i class="fa-solid fa-gun">
                Shoters
                </i>
            </li>
            <li class="navCategorias">
                <i class="fa-solid fa-skull">
                Terror
                </i>
            </li>
        </ul>
    </nav>
{%endblock%}