{% extends 'base.html'%}
{%load static%}
{%block contenido%}
<body>
    <header>
        <h1 class ="titulos" >
            Comunidad
        </h1>
    </header>
    <footer>
        <nav>
            <ul>
                <button class="navComunidad fondoBoton">compartir</button>
                <button class="navComunidad fondoBoton">responder</button> 
                <button class="navComunidad fondoBoton">añadir</button>
            </ul>
        </nav>
    </footer>
</body>
</html>
{%endblock%}