{% extends 'base.html' %}
{%load static%}
{%block contenido%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href = "{% static 'imagenes/css/style2.css' %}">
        <title>VGproject</title>
        
    </head>
<body>
    <h1 class="titulos">Bienvenido a VGPROJECT</h1>
        
        <aside>
        <h1 class="titulos">Introduccion</h1>
        <p class="navCategorias">Esta plataforma esta enfocada en ayudar a los desarrollares de videojuegos a encontrar un equipo que puedan aportarles a sus proyectos para que puedan agilizar el desarrollo y sacar su proyecto al publico, tambien podran subir avances en comunidad y subir el juego terminado a la tienda. </p>
        </aside>
        <aside>
        <h1 class="titulos">Sobre nosotros</h1>
        <p class="navCategorias">Somos un pequeño equipo que busca la forma de ayudarle a los desarrolladores de videojuegos a sacar sus proyectos de forma completa mediante esta plataforma</p>
        </aside>
</body>
</html>
{%endblock%}