{% extends 'base.html' %}
{%load static%} 
{%block contenido%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href = "{% static 'imagenes/css/style.css' %}">
    <script src="https://kit.fontawesome.com/65eb284639.js" crossorigin="anonymous"></script>
    <title>Perfil</title>
</head>
<body>
    <main>
      <nav>
    <ul class="nav">
        <li class="nav-item">
          <img class = "icono-perfil" src = "{% static 'imagenes/icono.jpg' %}" alt="">
        </li>
        <li class="nav-item">
          <h3 class = "margin-perfil nombre-perfil">Tomas Martinez</h3>
        </li>
        <li class="nav-item">
          <p class = "codigo-perfil margin-perfil" >a11</p>
          <li class = "nav-item margin-perfil">
          <div class="dropdown">
            <button class="btn btn-success dropdown-toggle button-perfil-config " type="button" data-bs-toggle="dropdown" aria-expanded="false">
             Configuracion de perfil
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Agregar foto de perfil</a></li>
              <li><a class="dropdown-item" href="#">Cambiar Nombre</a></li>
              <li><a class="dropdown-item" href="#">Agregar un sobre mi</a></li>
            </ul>
       </li>
        </div>
      </ul>
      <div class="card card-sobre-mi">
        <div class="card-body">
          <h5 class="card-title">Sobre mi</h5>
          <p class="card-text">
            Soy un desarrollador de videojuegos que tienen varios proyectos propios y experiencia en proyectos grupales
        </p>
        <a href="https://github.com/tomas12py" target = "blank"  class="card-link-github"><i class="bi bi-github"></i></a>
        <a href="mailto: tomi12mc@gmail.com"  class = "card-link-email"><i class="fa-regular fa-envelope"></i></a>
        </div>
      </div>
      <h5 class = "titulo-proyectos">Estos son mis proyectos</h5>
      <div class="card card-proyectos">
        <img src="{% static 'imagenes/league-of-legends.avif' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">League of legends</h5>
          <p class="card-text">Videojuego 5vs5 donde tendras que destruir el nexo del otro equipo para poder ganar</p>
        </div>
      </div>
      <div class="card card-proyectos">
        <img src="{% static 'imagenes/fornite.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fortnite battle royale</h5>
          <p class="card-text">Videojuego battle royale de 100 jugadores donde el ultimo jugador en pie es el ganador</p>
        </div>
      </div>
      <div class="card card-proyectos">
        <img src="{% static 'imagenes/assassin.jpg' %}" class="card-img-top card-assassin" alt="...">
        <div class="card-body">
          <h5 class="card-title">Assassin's Creeed</h5>
          <p class="card-text">Videojuego de sigilo y parkour para asesinar a tus enemigos</p>
        </div>
      </div>
      <div class="card card-proyectos">
        <img src="{% static 'imagenes/gta5.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Grand Theft Auto</h5>
          <p class="card-text">Videojuego basado en la ciudad de los angeles con muchos recursos de armas y automoviles</p>
        </div>
      </div>
    </nav>
    </main>
</body>
</html>
{%endblock%}